.row {
  display: flex;
  flex-wrap: wrap;
  padding-left: 100px;
}

.sub-section-3 {
  text-align: center;
  justify-content: center;
  margin: 10% 0 10% 5%;
}

.btn-1 {
  font-family: 'satoshi', sans-serif;
  font-weight: 400;
  font-size: 12px;
  width: 106px;
  height: 50px;
  background-color: rgba(249, 249, 249, 0.15);
  color: #ffffff;
}

.section-1 {
  width: 1480px;
  height: 500px;
  padding: 50px 100px 50px 50px;
  margin-left: 150px;
  background: #2a254b;
  color: #ffffff;
  font-weight: 400;
  font-family: 'clash-display', sans-serif;
}

.section1-detail {
  padding: 200px 0px 0px 0px;
}

.section1-img {
  position: absolute;
  width: 520px;
  height: 500px;
  margin-right: 50px;
  bottom: 215px;
  left: 1110px;
}

@media only screen and (max-width: 600px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .section-1 {
    width: 400px;
    height: 400px;
    left: 150px;
    font-size: 18px;
    padding: 0px 100px 10px 0px;
    margin-left: 0px;
  }
  .section1-detail {
    padding: 0px;
    font-size: 16px;
  }
  .section1-img {
    position: absolute;
    width: 400px;
    height: 300px;
    margin-right: 50px;
    left: 0px;
    top: 495px;
    padding-bottom: 20px;
  }
  .card{
    margin-left: 0px;
    margin-right: 100px;
    width: 100%;
  }
}

.card {
  border: none;
  padding: 10px 0px 0px 0px;
  margin-left: 85px;
  font-weight: 400;
  font-family: 'clash-display', sans-serif;
}

.card-heading {
  margin-left: 600px;
  margin-top: 100px;
  font-weight: 400;
  font-family: 'clash-display', sans-serif;
}

.card-icons {
  width: 24px;
  height: 24px;
}
.section3-img {
  position: absolute;
  width: 520px;
  height: 500px;
  margin-right: 50px;
  bottom: 138px;
  left: 1110px;
}

.sub-section-3-img {
  margin: 10px 10px 10px 10px;
}
