.footerbg {
  color: #2a254b;
  width: 100%;
  height: 380px;
  position: absolute;
}

footer span {
  font-size: 40px;
}
.footer {
  padding: 100px 50px;
  color: #2a254b;
}
.footer p {
  font-size: 20px;
  color: rgb(137, 135, 135);
}
.footer a {
  text-decoration: none;
  color: rgb(137, 135, 135);
}

.footer-1 {
  color: rgb(137, 135, 135);
  font-size: 20px;
}

.footer img {
  width: 30%;
  margin-bottom: 30px;
}

.footer > ul {
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  * {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  .footer {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  .newsleter {
    width: 100%;
    min-height: 15rem;
    padding: 10px;
  }

  .signup-btn {
  }
}

.signup-btn {
  width: 100px;
  height: 50px;

  font-family: 'Satoshi', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  background-color: #fff;

  color: rgba(42, 37, 75, 0.51);
}

.newsletter {
  box-sizing: border-box;

  width: 509px;
  height: 100px;
  padding-bottom: 20px;
}
